<!-- Lets talk about nails -->
<div class="hero-unit nails-welcome-box">
  <h1>Hello, World!</h1>
  <p>You've created a Nails app and your server is running. If you already know what you're doing, feel free to jump into your app logic, if not...</p>
  <p><%- linkTo('Lets get you started »', 'http://nailsjs.org/tutorial.html', {class: 'btn btn-primary btn-large'}) %></p>
</div>
