<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nails App | This app uses Nails.js</title>
  </head>
  <body>
    <div class="container">
      <%- yield(); %>
    </div>
  </body>
</html>
